<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="inputFileForStudent" value= "C:\Users\saimun\source\repos\CSharpFirstAssignment\CSharpFirstAssignment\inputFile1.txt" />
    <add key="inputFileForStudentResult" value= "C:\Users\saimun\source\repos\CSharpFirstAssignment\CSharpFirstAssignment\inputFile2.txt" />
    <add key="StudentResultOutput" value= "C:\Users\saimun\source\repos\CSharpFirstAssignment\CSharpFirstAssignment\OutputFile.txt" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>